.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  background: black;
}

th,
tr {
  margin: 0 !important;
  padding: 0;
}

.scroll {
  overflow-y: scroll;
  border: 1px white solid;
  height: calc(100vh - 192px); /* - header - footer*/
}

[role='alert'] {
  position: absolute;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .raiden-logo {
    animation: raiden-logo-spin infinite 10s linear;
  }
}

@media screen and (min-width: 640px) and (max-width: 830px) and (orientation: portrait) {
  .scroll {
    height: calc(100vh - 215px);
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .scroll {
    height: calc(100vh - 228px);
  }
}

@keyframes raiden-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
